{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
    {test, [
        {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]},
		{plugins, [
            rebar3_proper
        ]},
        {deps, [{proper,"1.4.0"}]}
    ]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
          {"README.md", #{title => "Overview"}},
		  {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/yuce/bert.erl"},
    {assets, "assets"},
    {api_reference, true}
]}.
